**/image-data
**/image-data/*
**/image-data/**

**/monkbrill
**/monkbrill/*
**/monkbrill/**

**/runs/
**/runs/*
**/runs/**

**/data/
**/data/*
**/data/**

**/studies/
**/studies/*
**/studies/**

**/results/
**/results/*
**/results/**
